<nav class="nav">
    <div class="site-nav">
        <ul class="site-logo">
            <li><a href="/index.html"><img src="/images/chef_logo.png"></a></li>
        </ul>
        <ul class="site-pages">
            <li><a href="/breakfast" class="active">Breakfast</a></li>
            <li><a href="/lunch">Lunch</a></li>
            <li><a href="/dinner">Dinner</a></li>
            <!--<li>{{- partial "search-form.html" . -}}</li>-->
        </ul>
        <ul class="site-search">
            <li>{{- partial "mysearch-form.html" . -}}</li>
        </ul>
    </div>
</nav>

